/* 공통  */

*{margin: 0; padding: 0;}

body, ul, li {
    list-style: none;
}

body::-webkit-scrollbar { width: 0; }

table {
    /* border-collapse: collapse; */
}

td,th {
    border: none;
    text-align: center;
    font-family: 'S-CoreDream-6Bold';
}

a {
    text-decoration: none;
}


/* 내용 영역 */

.clanAll{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: #fff;
    align-items: center;
}



.wh{
    height: 13em;
    background-color: #fff;
}

.clanrankSearch{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2c2f36;
    height: 4em;
    margin-top: 5.5em;
}

.clanrankSearch1200{
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100%;
}

.clanrankSearch_01{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 60%;
    color: #fff;
    font-family: 'S-CoreDream-8Heavy';
}

.clanRdetails01{
    display: flex;
    flex-direction: column;
    width: 62.4%;
    height: 21em;
    margin-top: 8em;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/clandetailsbanner.jpg);
}

.cdetail01{
    display: flex;
    align-items: center;
    width: 100%;
    height: 86%;
    margin-left: 7em;
}

.cdetail02{
    display: flex;
    background-color: #363944;
    width: 100%;
    height: 14.7%;
}

.cdetail01_01{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    height: 50%;
    margin-left: 6em;
    margin-right: 5em;
}

.cdetail01_02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 50%;
}

.cdetail01_02_01{
    display: flex;
    width: 100%;
    height: 30%;
    font-family: 'S-CoreDream-6Bold';
    color: #fff;
    font-size: 1.2em;
}

.cdetail01_02_02{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 25%;
    background-color: #ffb400;
    border-radius: 7px;
    margin-top: 1em;
}

.cdetail01_02_02>a{
    font-family: 'S-CoreDream-6Bold';
    color: #fff;
}


.cdetail02_01{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb400;
    width: 11%;
    font-family: 'S-CoreDream-6Bold';
    color: #fff;
    height: 100%;
}

.clanRdetails03{
    display: flex;
    width: 62.4%;
    flex-direction: column;
    height: 57.063em;
    margin-top: 6em;
}

.clanRdetails03_01{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5.5%;
    font-size: 1.15em;
    font-family: 'S-CoreDream-6Bold';
}

.clanRdetails03_02{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 100%;
    height: 92%;
}

.newRecord{
    display: flex;
    flex-direction: column;
    width: 62.4%;
    height: 8em;
    margin-top: 4em;
}

.newRecord01{
    display: flex;
    align-items: center;
    width: 100%;
    height: 34%;
    font-size: 1.15em;
    font-family: 'S-CoreDream-6Bold';
}

.newRecord02{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2.5em;
    height: 60%;
    background-color: #41434d;
}

.newRecord02_01{
    display: flex;
    align-items: center;
    width: 10%;
    height: 60%;
    margin-left: 3em;
    font-size: 1.2em;
    color: #fff;
    font-family: 'S-CoreDream-6Bold';
}

.newRecord02_01>p>span{
    color: #ffb400;
    margin-left: 0.7em;
}

.newRecord02_02>p>span{
    color: #ffb400;
    margin-left: 0.7em;
}

.newRecord02_03>p>span{
    color: #ffb400;
    margin-left: 0.7em;
}

.newRecord02_04>p>span{
    color: #ffb400;
    margin-left: 0.7em;
}
.newRecord02_02{
    display: flex;
    width: 10%;
    align-items: center;
    height: 60%;
    font-size: 1.2em;
    color: #fff;
    font-family: 'S-CoreDream-6Bold';
    margin-left: 1em;
}

.newRecord02_03{
    display: flex;
    width: 10%;
    height: 60%;
    align-items: center;
    font-size: 1.2em;
    color: #fff;
    font-family: 'S-CoreDream-6Bold';
    margin-left: 1em;
}

.newRecord02_05>p>span{
    color: #ffb400;
    margin-left: 0.7em;
}

.newRecord02_05{
    display: flex;
    width: 15%;
    height: 60%;
    align-items: center;
    font-size: 1.2em;
    color: #fff;
    font-family: 'S-CoreDream-6Bold';
    margin-left: 1em;
}

.newRecord02_04{
    display: flex;
    width: 10%;
    height: 60%;
    align-items: center;
    font-size: 1.2em;
    color: #fff;
    font-family: 'S-CoreDream-6Bold';
    margin-left: 1em;
}

.vspost{
    display: flex;
    flex-direction: column;
    width: 62.4%;
    height: 46.125em;
    margin-top: 5.5em;
}

.vspost_01{
    display: flex;
    width: 100%;
    height: 6.5%;
    align-items: center;
    font-size: 1.15em;
    font-family: 'S-CoreDream-6Bold';
}

.vspost_02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 90%;
    margin-top: 2em;
    border-radius: 12px;
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #dcdcdc;
}

.vspost_02_01{
    display: flex;
    align-items: center;
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.2em;
    width: 85%;
    height: 9%;
}

.vspost_02_02{
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 85%;
    height: 15%;
    margin-top: 1.5em;
    border-bottom: 1px solid #bfbfbf;
    box-sizing: border-box;
}

.vspost_02_txt{
    display: flex;
    font-family: 'S-CoreDream-6Bold';
    align-items: center;
    font-size: 0.95em;
    width: 50%;
    height: 40%;
}

.vspost_02_date{
    display: flex;
    align-items: center;
    width: 50%;
    height: 35%;
    margin-top: 0.5em;
}

.vspost_02_03{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 50%;
    margin-top: 2.5em;
}

.vspost_02_date01{
    display: flex;
    align-items: center;
    width: 23%;
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.2em;
    height: 100%;
    color: #9e9e9e;
}

.vspost_02_date02{
    display: flex;
    align-items: center;
    width: 25%;
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.2em;
    height: 100%;
    color: #9e9e9e;
}

.vpostCo01{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    font-family: 'S-CoreDream-6Bold';
    height: 15%;
    margin-bottom: 0.4em;
}

.applicant{
    display: flex;
    flex-direction: column;
    margin-top: 5.5em;
    width: 62.4%;
    height: auto;
    align-items: flex-end;
}

.applicant_01{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    font-size: 1.15em;
    font-family: 'S-CoreDream-6Bold';
}

.applicant_02{
    width: 100%;
    height: 45%;
    margin-top: 2em;
    
}

.applicant_03{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    border-radius: 10px;
    height: 2.8em;
    background-color: #444444;
    margin-top: 3.5em
}

.applicant_03>a{
    color: #fff;
    font-size: 1.2em;
    font-family: 'S-CoreDream-6Bold';
}

.applicant_02>table{
    width: 100%;
    height: 100%;
    border-top: 3px solid #323131;
    border-bottom: 3px solid #323131;
    box-sizing: border-box;
}

.applicant_02>table>thead{
    width: 100%;
    height: 3em;
    background: #fafafa;
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.2em;
}

.applicanttable>tbody>tr{
    font-size: 1.1em;
}

.applicant_02>table>thead>tr>th{
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.applicanttable tbody tr td{
    line-height: 50px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.applicanttable tbody tr td:nth-child(9){
	border-right: none;
}

.applicanttable tbody tr td:last-child{
	border-bottom: none;
}

.applicanttable thead tr th:nth-child(9){
	border-right: none;
}

.pagination {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62.5%;
    height: 2.5em;
}


.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    text-align: center;
    color: #545454;
    font-size: 0.9em;
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.pagination>.paginate>.link.arrow.prev.start {
    background-image: url('../img/pagerLeft2.png');
}

.pagination>.paginate>.link.arrow {
    padding: 0 0.5em;
    font-size: 0.813em;
    text-align: left;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #f0f0f0;
}

.pagination>.paginate>.link {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    height: 70%;
    box-sizing: border-box;
    border: 1px solid #d2d2d2;
    border-radius: 0.188em;
    line-height: 1.750em;
    color: #888888;
}

.pagination>.paginate>.link.arrow.prev {
    background-image: url('../img/pagerLeft1.png');
}

.pagination>.paginate>.link.mobile {
    display: none;
    padding: 0 0.5em;
}

.pagination>.paginate>.link+.link {
    margin-left: 0.33em;
}

.now {
    background-color: #0087e5;
    color: #fff !important;
}

.pagination>.paginate>.link.arrow.next {
    background-image: url('../img/pagerRight1.png');
}

.pagination>.paginate>.link.arrow.next.last {
    background-image: url('../img/pagerRight2.png');
}