<<<<<<< HEAD
/* 공통  */

*{margin: 0; padding: 0;}

body, ul, li {
    list-style: none;
}

body::-webkit-scrollbar { width: 0; }

table {
    border-collapse: collapse;
}

td,th {
    border: none;
}

a {
    text-decoration: none;
}


/* 내용 영역 */

.faqAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color: #f6f6f6;
}

.faqtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 10em;
    margin-top: 11em;
}

.faqwh{
    display: flex;
    margin-top: 2em;
    background-color: #fff;
    width: 55%;
    height: auto;
    flex-direction: column;
}

.wh{
    height: 13em;
    background-color: #f6f6f6;
}

.faqtitle_01{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.faqtitle_02{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
    height: 30%;
    font-family: 'S-CoreDream-5Medium';
    font-size: 1.1em;
}

/* .faqmenu01{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.faqmenu02{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
} */

.faqwh_01All{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.faqwh_01{
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 14em;
    border-bottom: 1px dashed #cdcdcd;
    cursor: pointer;
}

.faqhide{
    background-color: #f2f2f2;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 14em;
    border-bottom: 1px dashed #cdcdcd;
    /* display: none; */
}

.faqhide>p{
    font-family: 'S-CoreDream-6Bold';
    color: #a4a4a4;
    line-height: 2em;
    margin-left: 6.5em;
    font-size: 1.2em;
}

.faqwh_02{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    border-bottom: 1px dashed #cdcdcd;
}

.faqwh_03{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    border-bottom: 1px dashed #cdcdcd;
}

.faqwh_04{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 20%;
    border-bottom: 1px dashed #cdcdcd;
}

.faqwh_05{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.faqwh_01_01{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-family: 'Vitro_core';
    width: 10%;
    height: 40%;
}

.faqwh_01_02{
    display: flex;
    width: 60%;
    align-items: center;
    font-family: 'S-CoreDream-8Heavy';
    font-size: 1.4em;
    height: 25%;
    margin-left: 3em;
}

.faqwh_01_03{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 6%;
    height: 25%;
    margin-left: 3em;
=======
/* 공통  */

*{margin: 0; padding: 0;}

body, ul, li {
    list-style: none;
}

body::-webkit-scrollbar { width: 0; }

table {
    border-collapse: collapse;
}

td,th {
    border: none;
}

a {
    text-decoration: none;
}


/* 내용 영역 */

.faqAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color: #f6f6f6;
}

.faqtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 10em;
    margin-top: 11em;
}

.faqwh{
    display: flex;
    margin-top: 2em;
    background-color: #fff;
    width: 55%;
    height: auto;
    flex-direction: column;
}

.wh{
    height: 13em;
    background-color: #f6f6f6;
}

.faqtitle_01{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.faqtitle_02{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
    height: 30%;
    font-family: 'S-CoreDream-5Medium';
    font-size: 1.1em;
}

/* .faqmenu01{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.faqmenu02{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
} */

.faqwh_01All{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.faqwh_01{
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 14em;
    border-bottom: 1px dashed #cdcdcd;
    cursor: pointer;
}

.faqhide{
    background-color: #f2f2f2;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 14em;
    border-bottom: 1px dashed #cdcdcd;
    /* display: none; */
}

.faqhide>p{
    font-family: 'S-CoreDream-6Bold';
    color: #a4a4a4;
    line-height: 2em;
    margin-left: 6.5em;
    font-size: 1.2em;
}

.faqwh_02{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    border-bottom: 1px dashed #cdcdcd;
}

.faqwh_03{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    border-bottom: 1px dashed #cdcdcd;
}

.faqwh_04{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 20%;
    border-bottom: 1px dashed #cdcdcd;
}

.faqwh_05{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.faqwh_01_01{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-family: 'Vitro_core';
    width: 10%;
    height: 40%;
}

.faqwh_01_02{
    display: flex;
    width: 60%;
    align-items: center;
    font-family: 'S-CoreDream-8Heavy';
    font-size: 1.4em;
    height: 25%;
    margin-left: 3em;
}

.faqwh_01_03{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 6%;
    height: 25%;
    margin-left: 3em;
>>>>>>> refs/heads/WSH
}