/* 공통  */

*{margin: 0; padding: 0;}

body, ul, li {
    list-style: none;
}

body::-webkit-scrollbar { width: 0; }

table {
    border-collapse: collapse;
}

td,th {
    border: none;
    text-align: center;
    font-family: 'S-CoreDream-6Bold';
}

a {
    text-decoration: none;
}


/* 내용 영역 */

.clanAll{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: #fff;
    align-items: center;
}



.wh{
    height: 13em;
    background-color: #fff;
}

.clanrankSearch{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2c2f36;
    height: 4em;
    margin-top: 5.5em;
}

.clanrankSearch1200{
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100%;
}

.clanrankSearch_01{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
}

.clanrankSearch_01_01>a{
    color: #fff;
    font-family: 'S-CoreDream-6Bold';
}

.clanrankSearch_01_02>a{
    color: #fff;
    font-family: 'S-CoreDream-6Bold';
}

.clanrankSearch_01_01{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    width: 45%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fbce00;
}

.clanrankSearch_01_02{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    justify-content: center;
    width: 45%;
    box-sizing: border-box;
    height: 100%;
}

.personalvs01_01{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}

.personalvs01_02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-left: 3.5em;
}

.freeB01{
    display: flex;
    width: 58.6%;
    height: 8em;
    margin-top: 7em;
    flex-direction: column;
}

.freeB01_01{
    display: flex;
    align-items: center;
    font-size: 1.4em;
    font-family: 'S-CoreDream-6Bold';
    width: 100%;
    height: 60%;
}

.freeB01_02{
    display: flex;
    align-items: center;
    font-family: 'S-CoreDream-6Bold';
    width: 100%;
    height: 40%;
    font-size: 1.2em;
}

.freeB02{
    display: flex;
    width: 58.6%;
    height: 8em;
    flex-direction: column;
    margin-top: 4.5em;
}

.freeB01_03{
    display: flex;
    width: 100%;
    align-items: center;
    height: 25%;
    font-family: 'S-CoreDream-6Bold';
}

.freeB01_04{
    display: flex;
    width: 100%;
    height: 65%;
    margin-top: 1em;
    box-sizing: border-box;
    align-items: center ;
    border: 1px solid #c8c8c8;
}

.freeB01_03>p>span{
    color: #0087e5;
    font-family: 'S-CoreDream-6Bold';
}

.freeB01_04_01{
    display: flex;
    width: 12%;
    height: 60%;
    background-color: #0087e5;
    margin-left: 2.5em;
}

.freeB01_04_01>select{
    width: 100%;
    height: 100%;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
}

.freeB01_04_02{
    display: flex;
    align-items: center;
    width: 40%;
    height: 60%; 
    margin-left: 31em;
}

.freeB01_04_02_01{
    display: flex;
    align-items: center;
    font-family: 'S-CoreDream-6Bold';
    width: 20%;
    height: 100%;
    font-size: 1.1em;
    justify-content: center;
}

.freeB01_04_02_02{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    background-color: #fff;
}

.freeB01_04_02_02>input{
    width: 85%;
    outline: none;
    border: none;
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.1em;
}

.rjator{
    display: flex;
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #545454;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.rjator>img{
    max-width: 100%;
}


.freeB03{
    display: flex;
    width: 58.6%;
    font-family: 'S-CoreDream-6Bold';
    margin-top: 2.5em;
}

.personalvs02_01{
    border-top: 1px solid #3d3d3d;
    width: 100%;
}

.personalvs02_01>table{
    width: 100%;
    height: 100%;
}

.personalvs02_01>thead{
    color: #fff;
    width: 100%;
    height: 3.5em;
    background: #363944;
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.2em;
}

.personalvs02_01 tbody tr td{
    line-height: 5.5em;
    font-size: 1.1em;
    border-bottom: 1px solid #bfbfbf;
}

.freespan{
    color: #f50c0c;
}

.cbtn0{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 58.6%;
    height: 2.8em;
    margin-top: 3em;
}

.cbtn0_b01>button{
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 7px;
    cursor: pointer;
    background: #fff;
}

.cbtn0_b02>button{
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 7px;
    cursor: pointer;
    background: #393939;
    color: #fff;
}

.cbtn0_b03>button{
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 7px;
    cursor: pointer;
    background: #393939;
    color: #fff;
}

.cbtn0_b01{
	display: flex;
	font-family: 'S-CoreDream-6Bold';
	width: 9%;
	height: 100%;
	align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    margin-right: 0.7em;
}

.cbtn0_b03{
	display: flex;
	font-family: 'S-CoreDream-6Bold';
	width: 9%;
	height: 100%;
	align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
    background: #393939;
    box-sizing: border-box;
}

.cbtn0_b02{
	display: flex;
	font-family: 'S-CoreDream-6Bold';
	width: 9%;
	height: 100%;
	align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
    background: #393939;
    box-sizing: border-box;
    margin-right: 0.7em;
}

.cbtn1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    border-radius: 7px;
    height: 100%;
    background-color: #393939;
    cursor: pointer;
}

.cbtn1>button{
	width: 100%;
    border-radius: 7px;
    height: 100%;
    background-color: #393939;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: #fff;
    font-family: 'S-CoreDream-6Bold';
    cursor: pointer;
}


.personalvs02_01>tbody>tr>td>a{
    color: black;
    font-family: 'S-CoreDream-6Bold';
}

.freewrite01{
	display: flex;
	align-items:center;
	justify-content:center;
	width: 58.6%;
	height: 4em;
	margin-top: 7em;
	font-size: 0.8em;
	font-family: 'S-CoreDream-6Bold';
}

.freewrite02{
	display: flex;
	align-items:center;
	flex-direction:column;
	width: 100%;
    height: 90%;
	border-radius: 20px;
	box-sizing: border-box;
	border: 1px solid #cccccc;
}

.note-placeholder{
	margin-top: 2em;
}

.note-editor.note-frame .note-statusbar, .note-editor.note-airframe .note-statusbar{
	border: none !important;
}

.freewrite02_01{
	display: flex;
	width: 80%;
	height: 10%;
	margin-top: 5em;
}

.freewrite02_01>input{
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	font-family: 'S-CoreDream-6Bold';
	font-size:1.3em;
/* 	color:#cacaca; */
	border-bottom: 1px solid #cccccc;
}

.freewrite02_02{
	display:flex;
	height:70%;
	width: 80%;
}

#summernote{
	width: 100%;
	height: 100%;
	border: none;
	text-align: center;
}

.note-editor{
	width: 100%;
	height: 100%;
	border: none;
}

.note-editor.note-frame, .note-editor.note-airframe{
	border: none !important;
}

.vmfl00{
	display: flex;
	flex-direction:column;
	margin-top: 4em;
	width: 58.6%;
	height: 65em;
}



.pagination {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62.5%;
    height: 2.5em;
}


.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    text-align: center;
    color: #545454;
    font-size: 0.9em;
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.pagination>.paginate>.link.arrow.prev.start {
    background-image: url('../img/pagerLeft2.png');
}

.pagination>.paginate>.link.arrow {
    padding: 0 0.5em;
    font-size: 0.813em;
    text-align: left;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #f0f0f0;
}

.pagination>.paginate>.link {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    height: 70%;
    box-sizing: border-box;
    border: 1px solid #d2d2d2;
    border-radius: 0.188em;
    line-height: 1.750em;
    color: #888888;
}

.pagination>.paginate>.link.arrow.prev {
    background-image: url('../img/pagerLeft1.png');
}

.pagination>.paginate>.link.mobile {
    display: none;
    padding: 0 0.5em;
}

.pagination>.paginate>.link+.link {
    margin-left: 0.33em;
}

.now {
    background-color: #0087e5;
    color: #fff !important;
}

.pagination>.paginate>.link.arrow.next {
    background-image: url('../img/pagerRight1.png');
}

.pagination>.paginate>.link.arrow.next.last {
    background-image: url('../img/pagerRight2.png');
}



.freeWview01{
	display: flex;
	align-items:center;
	justify-content:center;
	width: 58.6%;
	height: 3.5em;
	margin-top: 5em;
	font-size:1.3em;
	font-family: 'S-CoreDream-6Bold';
}

/* .freeWview02{ */
/* 	display: flex; */
/* 	width: 58.6%; */
/* 	height: 70em; */
/* 	box-sizing:border-box; */
/* 	border:1px solid #cccccc; */
/* 	border-radius:20px; */
/* 	background: pink; */
/* 	margin-top: 5em; */
/* } */

.vspost{
    display: flex;
    flex-direction: column;
    width: 58.6%;
    height: 90em;
    margin-top: 3em;
}

.vspost_01{
    display: flex;
    width: 100%;
    height: 6.5%;
    align-items: center;
    font-size: 1.15em;
    font-family: 'S-CoreDream-6Bold';
}

.vspost_02{
    display: flex;
    flex-direction: column;
/*     justify-content: center; */
    align-items: center;    
    width: 100%;
    height: 90%;
    margin-top: 2em;
    border-radius: 20px;
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #dcdcdc;
}

.vspost_02_01{
    display: flex;
    align-items: center;
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.2em;
    width: 85%;
    height: 5%;
    margin-top: 3em;
}


.vspost_02_02{
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 85%;
    height: 12%;
    margin-top: 1.5em;
    border-bottom: 1px solid #bfbfbf;
    box-sizing: border-box;
}

.vspost_02_txt{
    display: flex;
    font-family: 'S-CoreDream-6Bold';
    align-items: center;
    font-size: 0.95em;
    width: 50%;
    height: 40%;
}

.vspost_02_date{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35%;
}

.vspost_02_03{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 50%;
    margin-top: 2.5em;
}

.vspost_02_date01{
    display: flex;
    align-items: center;
    width: 25%;
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.2em;
    height: 100%;
    color: #9e9e9e;
}

.vspost_02_date_001{
	display: flex;
	width: 50%;
	height: 100%;
}

.vspost_02_date_002{
	display: flex;
	align-items:center;
	justify-content:flex-end;
	width: 50%;
	height: 100%;
}

.vspost_02_date03{
	align-items:center;
	justify-content:flex-end;
	display: flex;
	width: 30%;
	height: 100%;
}

.mes03{
	display: flex;
	width: 3%;
	height: 45%;
}

.mes04{
	display: flex;
	align-items:center;
	width: 40%;
	height:50%;
	font-family: 'S-CoreDream-6Bold';
	font-size: 0.9em;
	margin-left: 0.5em;
}

.mes01{
	display: flex;
	width: 25%;
	height: 55%;
}

.mes02{
	display: flex;
	align-items:center;
	width: 40%;
	height:70%;
	font-family: 'S-CoreDream-6Bold';
	font-size: 1.1em;
	margin-left: 0.5em;
}

.vspost_02_date02{
    display: flex;
    align-items: center;
    width: 25%;
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.2em;
    height: 100%;
    color: #9e9e9e;
}

.vpostCo01{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    font-family: 'S-CoreDream-6Bold';
    height: 15%;
    margin-bottom: 0.4em;
}

.StoryAndReplyBar{
	font-family: 'S-CoreDream-6Bold';
	flex-direction:column;
	align-items:center;
	display: flex;
	width: 100%;
	height: 90%;
	font-size:1.2em;
	margin-top: 2.5em;
}

.storyBox{
	font-family: 'S-CoreDream-6Bold';
	display: flex;
	width: 85%;
	height: 40%;
	font-size:1.1em;
}

.replyBox{
	display: flex;
	align-items:center;
	width: 85%;
	height: 5%;
	box-sizing: border-box;
	border-bottom: 1px solid #cccccc;
}

.titleBox2{
	display: flex;
	align-items:center;
	width: 85%;
	height: 4%;
	font-size:1.1em;
	margin-top:1.5em;
}

.replyContent{
	flex-direction:column;
	display: flex;
	justify-content:center;
	width: 85%;
	height: 14%;
	margin-top:1.5em;
}

.replyContent_01{
	font-family: 'S-CoreDream-6Bold';
	font-size:1.1em;
	display: flex;
	align-items:center;
	width: 100%;
	height: 35%;
}

.replyContent_02{
	font-family: 'S-CoreDream-6Bold';
	font-size:0.95em;
	display: flex;
	align-items:center;
	width: 100%;
	height: 25%;
}

.replyContent_03>a{
	font-family: 'S-CoreDream-6Bold';
	font-size:0.9em;
	color: #cccccc;
}

.replyContent_03{
	font-family: 'S-CoreDream-6Bold';
	font-size:0.9em;
	display: flex;
	align-items:center;
	width: 100%;
	height: 25%;
	color: #cccccc;
}

.boardBar2{
	display: flex;
	margin-top:0.5em;
	width: 85%;
	height:23%;
	box-sizing: border-box;
	border-top:1px solid #cccccc;
}

.boardBar2_01{
	display:flex;
	align-items:center;
	flex-direction:column;
	width:100%;
	height: 88%;
	box-sizing: border-box;
	border:1px solid #cccccc;
	margin-top: 1.5em;
	border-radius: 10px;
}

.boardBar2_01_01>input{
	border: none;
	outline: none;
	font-family: 'S-CoreDream-6Bold';
	font-size:1em;
}

.boardBar2_01_02>input{
	border: none;
	outline: none;
	font-family: 'S-CoreDream-6Bold';
	font-size:0.85em;
}

.boardBar2_01_03>button{
	border: none;
	outline: none;
	background: #fff;
	font-family: 'S-CoreDream-6Bold';
	color: #bbbbbb;
	font-size: 0.9em;
	cursor: pointer;
}

.boardBar2_01_03{
	display:flex;
	margin-top:1em;
	width: 100%;
    height: 15%;
    margin-right: 3em;
    margin-bottom: 1em;
    justify-content: flex-end;
}

.boardBar2_01_02{
	display:flex;
	margin-top:1em;
	width:95%;
	height: 40%;
}

.boardBar2_01_01{
	display:flex;
	margin-top:1em;
	width:95%;
	height: 20%;
}

.containerBox2{
	display:flex;
	width: 58.6%;
	height: 2.5em;
	background: red;
}