/* 공통  */

* {
    margin: 0;
    padding: 0;
}

body,
ul,
li {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
}





/* 전체 영역 */

.inAll {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    /* justify-content: center; */
    background-color: #fff;
    flex-direction: column;
}

.hnone {
    width: 100vw;
    background-color: #fff;
    height: 5.5em;
}




/* 내용 */

.upperArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 62.4%;
    height: calc(100vh - 242px);
}

.main_content01 {
    display: flex;
    width: 100%;
    height: 15.5em;
}

.main_content02 {
    display: flex;
    margin-top: 4.5em;
    width: 100%;
    height: 4.5em;
}

.mainSearch {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid #cccccc;
    box-sizing: border-box;
    border-radius: 12px;
}

.mainSearch>input {
    width: 85%;
    outline: none;
    border: none;
    font-size: 1.2em;
    font-family: 'Vitro_core';
    /* border-radius: 12px; */
}

.S_btn01 {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main_content03 {
    display: flex;
    width: 100%;
    height: 6em;
    margin-top: 3.5em;
}


.indexBanner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 154px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 154px;
    background-color: #ffec2c;
}

/* 랭크 컨텐츠 */

.rank_content {
    display: flex;
    justify-content: flex-end;
    background-color: #ffffef;
    width: 100%;
    height: 45em;
    align-items: center;
}

/* .blackBar{
    width: 5px;
    background-color: #000;
    height: 9em;
    position: absolute;
    right: 270px;
    top: 56em;
} */

.rankbody {
    display: flex;
    width: 80%;
    height: 75%;
}

.ranktxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.rankC {
    display: flex;
    justify-content: flex-end;
    width: 33.5%;
}

.rankS {
    display: flex;
    justify-content: flex-end;
    width: 33.5%;
}

.ranktxt01 {
    display: flex;
    width: 100%;
    height: 30%;
    font-family: 'Vitro_core';
    font-size: 40px;
    line-height: 2em;
}

.ranktxt01_01 {
    display: flex;
    width: 50%;
    height: 100%;
    text-shadow: 6px 8px 6px #dddddd;
}

.ranktxt01_02 {
    display: flex;
    width: 50%;
    height: 100%;
}

.rankC01 {
    display: flex;
    margin-top: 16%;
    background-color: #27282e;
    width: 90%;
    height: 75%;
    flex-direction: column;
}

.ranktxt02 {
    font-family: 'Vitro_core';
    font-size: 40px;
    line-height: 2em;
    display: flex;
    width: 100%;
    height: 30%;
    text-shadow: 6px 8px 6px #dddddd;
}

.ranktxt01_02bar {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    width: 100%;
    height: 20%;
}

.rankC02 {
    display: flex;
    margin-top: 5%;
    background-color: #27282e;
    width: 90%;
    flex-direction: column;
    height: 75%;
}

.R02bar {
    display: flex;
    width: 60%;
    height: 20%;
    background-color: #000000;
}

.R02rid01 {
    display: flex;
    width: 5%;
    height: 30%;
    border-radius: 50%;
    margin-left: 0.5em;
    background-color: #facd01;
}

.R02rid02 {
    display: flex;
    width: 5%;
    height: 30%;
    border-radius: 50%;
    margin-left: 0.3em;
    background-color: #000000;
}

.ranktxt01_01>h3>span {
    color: #facd01;
}

.ranktxt02>h3>span {
    color: #facd01;
}

.table_R {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.rankC01_01 {
    display: flex;
    width: 100%;
    height: 11%;
    background-color: #363944;
}

.rankC01_02 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 73%;
    background-color: #27282e;
}

.rankC01_03 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 16%;
    background-color: #fbce00;
}

.rank01_t1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'S-CoreDream-6Bold';
    color: #fff;
    font-size: 20px;
}

.rank01_t2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'S-CoreDream-6Bold';
    color: #fff;
    font-size: 20px;
}

.rank01_t3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'S-CoreDream-6Bold';
    color: #fff;
    font-size: 20px;
}

.rankC01_03>tr>td>a {
    font-family: 'S-CoreDream-6Bold';
    color: #000;
    font-size: 23px;
}

.rankC01_02>tr>td {
    font-family: 'S-CoreDream-6Bold';
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.tbodyTr01 {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #3c3c3c;
}

.tfootTr01 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tfootTr01:first-child td {
    width: 44%;
}

.tdtd:first-child td {
    width: 40%;
}

.rankC02 .table_R tbody tr td {
    color: #fff;
    line-height: 60px;
}

.rankC02 .table_R tbody tr:first-child td {
    color: #ffb93b;
    background-color: #2d2f37;
    line-height: 60px;
}

.rankC02 .table_R tbody tr:nth-child(2) td {
    color: #92b1bd;
    background-color: #2d2f37;
    line-height: 60px;
}

.rankC02 .table_R tbody tr:nth-child(3) td {
    color: #ca9372;
    background-color: #2d2f37;
    line-height: 60px;
}

.rankC01 .table_R tbody tr td {
    color: #fff;
    line-height: 60px;
}

.rankC01 .table_R tbody tr:first-child td {
    color: #ffb93b;
    background-color: #2d2f37;
    line-height: 60px;
}

.rankC01 .table_R tbody tr:nth-child(2) td {
    color: #92b1bd;
    background-color: #2d2f37;
    line-height: 60px;
}

.rankC01 .table_R tbody tr:nth-child(3) td {
    color: #ca9372;
    background-color: #2d2f37;
    line-height: 60px;
}

/* 스와이프 슬라이더 */

/* .swiper-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}

.swiper-slide{
    display: flex;
    width: 60%;

    background-color: firebrick;
} */


.swiper-slide {
    text-align: center;
    /* font-size: 18px; */
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.sw01 {
    display: flex;
    justify-content: flex-end;
    width: 44%;
    height: 100%;
}

.sw01_01 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57%;
    height: 100%;
    flex-direction: column;
}

.sw01_box {
    display: flex;
    width: 100%;
    height: 21%;
    flex-direction: column;
    margin-bottom: 0.9em;
}

.sw01_box_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Vitro_core';
    font-size: 15px;
    color: #fff;
    width: 21%;
    height: 100%;
    background-color: #363944;
}

.sw01_title {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 20%;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.sw01_title>a {
    font-family: 'S-CoreDream-6Bold';
    font-size: 18px;
    color: #000;
}

.sw01_date {
    align-items: flex-start;
    display: flex;
    font-family: 'S-CoreDream-6Bold';
    color: #898989;
    font-size: 16px;
    width: 100%;
    height: 15%;
    flex-direction: column;
}


.sw02 {
    display: flex;
    width: 37.2%;
    align-items: center;
    justify-content: flex-end;
}

.sw02_01 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 37%;
    height: 90%;
}

/* 
.zoflrxj{
    position: absolute;
    top: 725px;
    z-index: 99;
    left: 1325px;
    max-width: 100%;
} */



/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2f37;
    width: 100vw;
    height: 12em;
}

.footerL01 {
    display: flex;
    width: 35%;
    height: 80%;
}

.footerL02 {
    display: flex;
    justify-content: flex-end;
    width: 35%;
    height: 80%;
}

.ffflogo {
    display: flex;
    width: 15%;
    height: 100%;
}

.ffftxt {
    font-family: 'S-CoreDream-6Bold';
    margin-left: 1.6em;
    margin-top: 0.5em;
    font-size: 15px;
    line-height: 35px;
    display: flex;
    width: 65%;
    height: 100%;
    color: #adadad;
}

.footerL02_01 {
    display: flex;
    margin-top: 0.5em;
    width: 50%;
    height: 100%;
    font-family: 'S-CoreDream-6Bold';
    font-size: 15px;
    line-height: 35px;
    color: #adadad;
}

#footer_5>span {
    color: #fff;
    font-size: 18px;
}

#footer_5 {
    font-size: 18px;
}




/* 모바일 반응형 css */

@media  all and (min-width: 1026px) {

    .Mlogin {
        display: none;
    }

    .Ham_button2 {
        display: none;
    }

    .ham-con2 {
        display: none;
    }

    .Hnav {
        display: none;
    }

    .All2 {
        display: none;
    }
}

@media  all and (min-width: 2559px) {

    .upperArea {
        width: 52.4%;
    }

    .indexBanner {
        background-size: 2560px 154px;
    }

    .sw01_01 {
        width: 46%;
    }

    .sw02 {
        width: 32.9%;
    }

    .rank_content {
        height: 57em;
    }

    .ham-con{
        height: 100%;
    }
}

@media  all and (max-width: 1441px) {

    .ham-con{
        width: 35%;
    }

    .main_content01 {
        height: 13.5em;
    }

    .main_content02 {
        height: 4em;
        margin-top: 4em;
    }

    .main_content03 {
        height: 5.5em;
    }

    .sw01_box_title {
        width: 27%;
    }

    .sw02_01 {
        height: 75%;
        width: 40%;
    }

    .sw01_title>a {
        font-size: 16px;
    }

    .sw01_box_title {
        font-size: 14px;
    }

    .sw01_date {
        font-size: 15px;
    }

    .rankbody {
        width: 91%;
    }

    .rankC01_03>tr>td>a {
        font-size: 20px;
    }

    .ffftxt {
        font-size: 14px;
        width: 100%;
    }

    .ffflogo>img {
        height: 25%;
    }

    .rank_content {
        height: 42em;
    }

    .footerL02_01 {
        font-size: 14px;
    }
}

@media  all and (max-width: 1024px) {


    .footerL01 {
        width: 40%;
    }
    
    .ffflogo {
        width: 16%;
        height: 90%;
    }

    .ffftxt{
        font-size: 12px;
        width: 100%;
    }

    #footer_5 {
        font-size: 12px;
    }

    #footer_5>span {
        color: #fff;
        font-size: 16px;
    }

    .footerL02_01 {
        display: flex;
        margin-top: 0.5em;
        width: 50%;
        height: 100%;
        font-family: 'S-CoreDream-6Bold';
        font-size: 12px;
        line-height: 35px;
        color: #adadad;
    }

    .footerL02 {
        display: flex;
        justify-content: flex-end;
        width: 40%;
        height: 80%;
    }

    .W_1200px {
        display: none;
    }

    .Logo {
        width: 9%;
        height: 62%;
        margin-left: 3em;
    }

    .header {
        justify-content: flex-start;
        height: 4.5em;
    }

    .Ham_button {
        display: none;
    }

    .Ham_button2 {
        display: block;
    }

    .hnone {
        height: 4.5em;
    }

    .Mlogin {
        display: block;
    }

    .Mlogin {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 2em;
        border-bottom: 1px solid rgb(183, 183, 183);
        box-sizing: border-box;
    }

    .Mlogin_01 {
        width: 32%;
        height: 70%;
    }

    .Mlogin_01>a {
        font-family: 'S-CoreDream-6Bold';
        color: #525252;
    }

    .main_content01 {
        height: 10.5em;
    }

    .main_content02 {
        height: 3.5em;
        margin-top: 3.2em;
    }

    .main_content03 {
        margin-top: 3.2em;
    }

    .S_btn01 {
        width: 7%;
    }


    .mainSearch>input {
        font-size: 1.1em;
    }

    .sw01_box_title {
        font-size: 13px;
    }

    .sw01_box_title {
        width: 32%;
    }

    .upperArea {
        height: calc(100vh - 258px);
    }

    .ranktxt{display: none;}

    .rank_content {
        height: 40em;
    }

    .rankC {
        width: 43.5%;
    }

    .rankS {
        width: 43.5%;
    }

    .rankC01_03>tr>td>a {
        font-size: 18px;
    }

    .rankC01_02>tr>td {
        font-size: 17px;
    }
}


@media  all and (max-width: 768px) {
    .Logo {
        width: 11%;
    }

    .Ham_button {
        display: none;
    }

    .Ham_button2 {
        display: block;
    }

    .ham-con{
        display: none;
    }

    .main_content02 {
        height: 3.3em;
    }

    .S_btn01 {
        width: 8%;
    }

    .sw01_box_title {
        width: 33%;
    }

    .upperArea {
        width: 70%;
    }

    .sw01 {
        width: 50%;
    }

    .sw01_01 {
        width: 69%;
    }

    .sw02 {
        width: 50%;
    }

    .sw02_01 {
        margin-right: 7em;
        height: 70%;
    }

    .rankC {
        width: 53.5%;
        justify-content: center;
    }

    .rankS {
        width: 53.5%;
    }

    .rankC01 {
        width: 95%;
    }

    .rank_content {
        justify-content: center;
    }

    .rank01_t1{
        font-size: 17px;
    }

    .rank01_t2{
        font-size: 17px;
    }

    .rank01_t3{
        font-size: 17px;
    }

    .rankC01_02>tr>td {
        font-size: 15px;
    }

    .tfootTr01:first-child td {
        width: 51%;
    }

    .tdtd:first-child td {
        width: 44%;
    }

    .footerL01 {
        width: 53%;
    }

    .ffflogo {
        height: 80%;
    }

    .footerL02_01 {
        width: 59%;
    }

    .rankC02{
        width: 95%;
    }

    .main_content01 {
        height: 10em;
    }

    .mainSearch {
        border-radius: 9px;
    }

    .main_content03>img{
        width: 67%;
        height: 87%;
    }

    .main_content03 {
        margin-top: 3.5em;
    }
}

@media  all and (min-width: 426px) {
    .rank_content2{display: none;}
}

@media  all and (max-width: 425px) {

    .Mlogin_01{
        width: 47%;
    }

    .Mlogin_01>a{
        font-size: 13px;
    }

    .Logo {
        width: 19%;
        margin-left: 1.2em;
    }

    .Ham_button2{
        top: 1.25em;
    }

    .menu-trigger2 {
        width: 36px;
        height: 35px;
    }

    .menu-trigger2 span:nth-of-type(2) {
        top: 59%;
        width: 24px;
    }

    .upperArea {
        height: calc(100vh - 242px);
    }

    .indexBanner{
        height: 130px;
    }

    .main_content01{
        height: 8em;
    }

    .main_content02 {
        height: 3em;
        margin-top: 3em;
    }

    .mainSearch {
        border-radius: 8px;
    }

    .mainSearch>input {
        font-size: 0.9em;
    }

    .S_btn01 {
        width: 9%;
        height: 81%;
        margin-top: 0.3em;
    }

    .main_content03 {
        margin-top: 3em;
    }

    .main_content03>img {
        width: 77%;
        height: 77%;
    }

    .sw02{
        display: none;
    }

    .sw01{
        width: 100%;
    }

    .sw01_01 {
        width: 85%;
    }

    .sw01_box_title {
        width: 21%;
        font-size: 12px;
    }

    .sw01_title>a {
        font-size: 13px;
    }

    .sw01_date {
        font-size: 11px;
    }

    .ham-con2{
        height: 500px;
    }

    .inAll {
        min-height: 84vh;
    }

    .ranktxt{display: block;}

    .rank_content{display: none;}
    .rank_content2{display: block;}

    .rank_content2{
        display: flex;
        justify-content: center;
        background-color: #ffffef;
        width: 100%;
        height: 70em;
        align-items: center;
        flex-direction: column;
    }

    .CRan01{
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 80%;
    }

    .PRan01{
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 80%;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .CRan01_01{
        display: flex;
        width: 100%;
        height: 20%;
    }

    .CRan01_02{
        display: flex;
        background-color: rgb(0, 47, 255);
        width: 100%;
        height: 80%;
    }

    .Cranktxt01_01 {
        display: flex;
        align-items: center;
        font-family: 'Vitro_core';
        width: 100%;
        height: 100%;
        text-shadow: 6px 8px 6px #dddddd;
        font-size: 1.45em;
    }

    .Cranktxt01_01>h3>span {
        color: #facd01;
    }

    /* .rankC {
        width: 100%;
        height: 100%;
    }

    .rankC01 {
        width: 100%;
        height: 100%;
        margin-top: 0;
    } */

    .rankC{
        width: 100%;
    }

    .rankC01{
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .rankS{
        width: 100%;
    }

    .rankC02{
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .footerL02{
        display: none;
    }

    .footerL01 {
        width: 80%;
    }

    .ffftxt{
        font-size: 10px;
    }

    .ffflogo {
        height: 68%;
        margin-top: 0.4em;
    }

    .Hnav>li>a{
        font-size: 1.1em;
    }
}

@media  all and (max-width: 375px) {
    .Logo {
        width: 18%;
        height: 56%;
        margin-left: 1.5em;
    }

    .menu-trigger2{
        width: 32px;
    }

    .menu-trigger2 span:nth-of-type(2) {
        top: 55%;
        width: 22px;
    }

    .Mlogin_01 {
        width: 51%;
    }

    .Mlogin_01>a {
        font-size: 12px;
    }

    .sw01_box_title {
        width: 22%;
        font-size: 11px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,3px);
    }

    .CRan01_02{
        height: 80%;
    }

    .rankC01 .table_R tbody tr:first-child td{
        font-size: 0.9em;
    }

    .rankC01 .table_R tbody tr:nth-child(2) td{
        font-size: 0.9em;
    }

    .rankC01 .table_R tbody tr:nth-child(3) td{
        font-size: 0.9em;
    }

    .rankC01 .table_R tbody tr td{
        font-size: 0.9em;
    }

    .PRan01 .table_R tbody tr:first-child td{
        font-size: 0.9em;
    }

    .PRan01 .table_R tbody tr:nth-child(2) td{
        font-size: 0.9em;
    }

    .PRan01 .table_R tbody tr:nth-child(3) td{
        font-size: 0.9em;
    }

    .PRan01 .table_R tbody tr td{
        font-size: 0.9em;
    }

    .rankC01_03>tr>td>a{
        font-size: 16px;
    }

    #footer_2{display: none;}
    
}

@media  all and (max-width: 320px) {
    .Logo {
        height: 50%;
    }

    .Mlogin_01>a{
        font-size: 11px;
    }

    .menu-trigger2 span:nth-of-type(2) {
        top: 53%;
        width: 19px;
    }

    .menu-trigger2 {
        width: 29px;
    }

    .Mlogin_01 {
        width: 55%;
    }

    .Hnav>li>a {
        font-size: 1em;
    }

    .ham-con2 {
        height: 464px;
    }

    .main_content01 {
        height: 7.5em;
    }

    .mainSearch>input {
        font-size: 0.8em;
    }

    .main_content02 {
        height: 2.7em;
        margin-top: 3em;
    }

    .mainSearch {
        border-radius: 6px;
    }

    .main_content03>img {
        width: 74%;
        height: 71%;
    }

    .S_btn01 {
        width: 10%;
        height: 75%;
    }

    .sw01_box_title {
        width: 25%;
        font-size: 11px;
    }

    .sw01_title>a{
        font-size: 12px;
    }

    .sw01_date{
        font-size: 10px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,3px);
        height: 7px;
        width: 7px;
    }

    /* .CRan01{
        height: 35%;
    }

    .PRan01{
        height: 35%;
    } */

    .rankC01 .table_R tbody tr:first-child td{
        font-size: 0.7em;
    }

    .rankC01 .table_R tbody tr:nth-child(2) td{
        font-size: 0.7em;
    }

    .rankC01 .table_R tbody tr:nth-child(3) td{
        font-size: 0.7em;
    }

    .rankC01 .table_R tbody tr td{
        font-size: 0.7em;
    }

    .PRan01 .table_R tbody tr:first-child td{
        font-size: 0.7em;
    }

    .PRan01 .table_R tbody tr:nth-child(2) td{
        font-size: 0.7em;
    }

    .PRan01 .table_R tbody tr:nth-child(3) td{
        font-size: 0.7em;
    }

    .PRan01 .table_R tbody tr td{
        font-size: 0.7em;
    }

    .rankC01_03>tr>td>a{
        font-size: 16px;
    }

    .rank01_t1{
        font-size: 13px;
    }

    .rank01_t2{
        font-size: 13px;
    }

    .rank01_t3{
        font-size: 13px;
    }

    .rank_content2{
        height: 60em;
    }

    .Cranktxt01_01{
        font-size: 1.25em;
    }

    .rankC01_03>tr>td>a {
        font-size: 14px;
        margin-top: 0.25em;
    }

    .tdtd>td>a>img{
        margin-top: 0.25em;
    } 
    
    .ffflogo{display: none;}

    .footer{
        height: 9.2em;
    }
    
}