
.mypageNav{
    display: flex;
    height: 5.5em;
}

.mypageNavSM{
    display: flex;
    height: 2.5em;
}

.mypageNavSM2{
    display: flex;
    height: 0.5em;
}

.mypageNavSM3{
    display: flex;
    width: 30px;
    
}
.mypageNavSM4{
    display: flex;
    width: 30px;
    height: 1.5em;
}

.mypageNavSM5{
    display: flex;
    height: 30px;
}

.mypageNavSM6{
    display: flex;
    width: 440px;
    
}

.mypageNavSM7{
    display: flex;
    height: 30px;
}

.mypageNavSM8{
    display: flex;
    width: 20px;
    
}
.mypageNavSM8{
    display: flex;
    width: 20px;
    
}

.mypageNavSM9{
    display: flex;
    height: 5px;
    
}

.mypageNavSM10{
    display: flex;
    height: 10px;
}

.mypageNavSM11{
    display: flex;
    height: 20px;
}

.container {
    margin:0 auto;
    display: flex;
    flex-direction: column; 
    width:700px;
    
    
}

.w-btn-gray {
    background-color: #393939;
    color: #fefefe;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 8px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

input {
    font-size: 13px;
    height:  10px;
    
    padding: 10px;
    border: none;
}

.titleBox {
    width:700px;
    display: flex;
    height: 2em;
}
.titleBox2 {
    width:700px;
    display: flex;
    height: 2em;
}

.titleBox3 {
    width:700px;
    display: flex;
    height: 1.5m;
}

.underBarBox{
    border: 2px solid #ffffff;
        
        width:695px;
       height: 0px;
        display: flex;
        justify-content: center;
    
}

.boardBar{
    
    width: 700px;
    border: 2px solid #dddddd;
    background: #ffffff;
    border-radius: 10px;
    

    
}

.boardBar2{
    
    width: 640px;
    border: 2px solid #dddddd;
    background: #ffffff;
    border-radius: 10px;
    

    
}

.storyBox{
    display: flex;
    width: 700px;
    height: 100%;
    flex-direction: row;
    min-height: 200px;

    
}


.StoryAndReplyBar{
    display: flex;
    
    text-align: center;
    flex-direction: column;
   
}

textarea{
    width: 670px;
    
    border: none;
}



.replyBox{
    display: flex;
    width: 700px;
    
}

.replyBar {
    display: flex;
    width: 700px;
}

.replyContent{
    display: flex;
    width: 700px;
    flex-direction: row;
    height:100%;
}

.replyComtentStory{
    display: flex;
    width: 640px;
    flex-direction: column;
    
}

.replycontentbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.containerBox2 {
    margin:0 auto;
    display: flex;
    flex-direction: row-reverse;
    width:700px;
    justify-content: space-between;
    
}